name: Release Charts

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      
      - name: Get Changed Charts
        id: changed-charts
        run: |
          CHANGED_FILES=$(git diff --name-only HEAD^ HEAD | grep '^charts/' | cut -d'/' -f1,2 | uniq)
          if [ -z "$CHANGED_FILES" ]; then
            echo "::warning file=github-actions.log::No charts changed."
            exit 0  # Exit with 0 (success) to stop the workflow without failure
          fi
          echo "CHARTS=$(echo $CHANGED_FILES | tr '\n' ' ')" >> $GITHUB_ENV
  
      - name: Update Chart Version for PR
        if: github.event_name == 'pull_request' && env.CHARTS != ''
        run: |
          for chart in $CHARTS; do
            PR_SUFFIX="-pr${{ github.event.pull_request.number }}-run${{ github.run_number }}"
            CURRENT_VERSION=$(yq e '.version' "$chart/Chart.yaml")
            NEW_VERSION="v${CURRENT_VERSION}${PR_SUFFIX}"
            echo "Updating version for $chart to $NEW_VERSION"
            yq e ".version = \"$NEW_VERSION\"" -i "$chart/Chart.yaml"
            git add "$chart/Chart.yaml"
            git commit -m "Update version to $NEW_VERSION for PR"
          done

      - name: Lint Changed Charts
        if: env.CHARTS != ''
        run: |
          for chart in $CHARTS; do
            echo "Linting chart: $chart"
            if [ -f "$chart/lint-values.yaml" ]; then
              echo "Using lint-values.yaml for $chart"
              helm lint "$chart" --values "$chart/lint-values.yaml"
            elif [ -f "$chart/values.yaml" ]; then
              echo "Using values.yaml for $chart"
              helm lint "$chart" --values "$chart/values.yaml"
            else
              echo "No values file found for $chart, using default values"
              helm lint "$chart"
            fi
          done

      - name: Template Changed Charts
        if: env.CHARTS != ''
        run: |
          for chart in $CHARTS; do
            echo "Rendering templates for chart: $chart"

            # Check if lint-values.yaml exists
            if [ -f "$chart/lint-values.yaml" ]; then
              echo "Using lint-values.yaml for $chart"
              helm template "$chart" --values "$chart/lint-values.yaml"
            elif [ -f "$chart/values.yaml" ]; then
              echo "Using values.yaml for $chart"
              helm template "$chart" --values "$chart/values.yaml"
            else
              echo "No values file found for $chart, using default values"
              helm template "$chart"
            fi
          done

      - name: Set Version for Release
        id: version
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            PR_NUMBER=${{ github.event.pull_request.number }}
            VERSION="$(yq e '.version' charts/Homelab/Chart.yaml)-pr$PR_NUMBER"
          else
            VERSION="$(yq e '.version' charts/Homelab/Chart.yaml)"
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Using version $VERSION"
      
      - name: Run chart-releaser
        if: ${{ success() && env.CHARTS != '' }}
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
